<header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <nav class="classy-navbar" id="essenceNav">
            <a class="nav-brand" href="/"><img src="/assets/images/logo-black.png" alt="" /></a>

            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <div class="classy-menu">
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>

                <div class="classynav">
                    <ul>
                        <li>
                            <a href="#">View</a>
                            <div class="megamenu">
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Genre</li>
                                    <li><a href="/shop">Fiction</a></li>
                                    <li><a href="/shop">Non Fiction</a></li>
                                    <li><a href="/shop">Historiacal</a></li>
                                    <li><a href="/shop">Comics</a></li>
                                    <li><a href="/shop">Poetry</a></li>

                                    <li><a href="/shop">Comics</a></li>
                                    <li><a href="/shop">Poetry</a></li>
                                </ul>

                                <ul class="single-mega cn-col-4">
                                    <li class="title">Author</li>
                                    <li><a href="/shop">Sudha Murthy</a></li>
                                    <li><a href="/shop">Ruskin Bond</a></li>
                                    <li><a href="/shop">Lee Child</a></li>
                                    <li><a href="/shop">Fyodor Dostoevsky</a></li>
                                    <li><a href="/shop">JK Rowling</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="header-meta d-flex clearfix justify-content-end">
            <div class="search-area">
                <form action="/search" method="POST">
                    <input type="search" name="searchQuery" id="headerSearch" placeholder="Type for search" />
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>

            <div class="favourite-area">
                <a href="#"><img src="/assets/images/heart.svg" alt="" /></a>
            </div>

            <div class="user-login-info">
                <a href="/authentication"><img src="/assets/images/user.svg" alt="" /></a>
            </div>

            <div class="cart-area">
                <a href="#" id="essenceCartBtn">
                    <img src="/assets/images/bag.svg" alt="" /> <span><%= cart.items.length %></span>
                </a>
            </div>
        </div>
    </div>
</header>

<div class="cart-bg-overlay"></div>

<div class="right-side-cart-area">
    <div class="cart-button">
        <a href="#" id="rightSideCart">
            <img src="/assets/images/bag.svg" alt="" /> <span><%= cart.items.length %></span>
        </a>
    </div>

    <div class="cart-content d-flex">
        <div class="cart-list">
            <% cart.items.forEach(item => { %>
            <div class="single-cart-item">
                <a href="#" class="product-image">
                    <img src="<%= item.volumeInfo.imageLinks.thumbnail %>" class="cart-thumb" alt="" />

                    <div class="cart-item-desc">
                        <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                        <% if (item.volumeInfo.categories) { %>
                        <span class="badge"><%= item.volumeInfo.categories[0].split('/')[0] %></span>
                        <% } %>
                        <h6><%= item.volumeInfo.title %></h6>
                        <p class="color"><%= item.volumeInfo.authors[0] %></p>
                        <p class="price">&#8377;50</p>
                    </div>
                </a>
            </div>
            <% }); %>
        </div>

        <div class="cart-amount-summary">
            <h2>Summary</h2>
            <ul class="summary-table">
                <li><span>subtotal:</span> <span>&#8377;<%= cart.subtotal %></span></li>
                <li><span>discount:</span> <span>&#8377;<%= cart.discount %></span></li>
                <li><span>total:</span> <span>&#8377;<%= cart.total %></span></li>
            </ul>
            <div class="checkout-btn mt-100">
                <a href="/checkout" class="btn essence-btn">Check Out</a>
            </div>
        </div>
    </div>
</div>
