<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./includes/head.ejs', {includeJS: true}) %>

        <title>.lib - <%= itemData.volumeInfo.title %></title>

        <link rel="stylesheet" href="/css/core-style.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body>
        <%- include('./includes/navigation-bar.ejs') %>

        <section class="single_product_details_area d-flex align-items-center">
            <!-- Single Product Thumb -->
            <div class="single_product_thumb clearfix">
                <div class="product_thumbnail_slides owl-carousel">
                    <img src="<%= itemData.volumeInfo.imageLinks.thumbnail %>" alt="" />
                    <img src="<%= itemData.volumeInfo.imageLinks.large %>" alt="" />
                </div>
            </div>

            <div class="single_product_desc clearfix">
                <% if (itemData.volumeInfo.categories) { %>
                <span><%= itemData.volumeInfo.categories[0] %></span>
                <% } %>
                <h2><%= itemData.volumeInfo.title %></h2>
              
                <p class="product-desc"><%- itemData.volumeInfo.description %></p>

                <form class="cart-form clearfix" action="/add-to-cart" method="POST">
                    <div class="select-box d-flex mt-50 mb-30">
                        <select name="select" id="productSize" onchange="selectWeek()" class="mr-5">
                            <option selected> Choose Renting Period </option>
                            <option value="50" >Valid for: 1 Week</option>
                            <option value="100">Valid for: 2 Weeks</option>
                            <option value="150">Valid for: 3 Weeks</option>
                            <option value="200">Valid for: 1 Month</option>
                        </select>
                    </div>
                    <p class="product-price">₹</p>
                    <p class="product-price" id="product-price"></p>
                    

                    <input type="text" name="itemID" value="<%= itemData.id %>" hidden />

                    <div class="cart-fav-box d-flex align-items-center">
                        <button type="submit" name="addtocart" value="5" class="btn essence-btn">
                            Add to cart
                        </button>

                        <div class="product-favourite ml-4">
                            <a href="#" class="favme fa fa-heart"></a>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <%- include('./includes/footer.ejs') %>
    </body>
    <script>
        function selectWeek() {
        var myList = document.getElementById("productSize");
        console.log(myList)
        const price =  document.getElementById("product-price");
        price.innerHTML = myList.options[myList.selectedIndex].value;
        console.log(price.innerHTML)
        
        }
        </script>
</html>
