<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./includes/head.ejs', { includeJS: true, signedIn }) %>

        <title>.lib</title>

        <link rel="stylesheet" href="/css/core-style.css" />
        <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <%- include('./includes/navigation-bar.ejs', { cart, signedIn }) %>

        <!-- ##### Welcome Area Start ##### -->
        <section class="welcome_area bg-img background-overlay"
            style="background-image: url(/assets/images/home-background.png)">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-content">
                            <h6>Redefining The Way You Read</h6>
                            <h2>.library</h2>
                            <a href="#recommended-books" class="btn essence-btn" style="pointer-events: none">A virtual
                                repository of learning resources</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="recommended-books" class="new_arrivals_area section-padding-80 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Recommended Books</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="popular-products-slides owl-carousel">
                            <!-- Single Product -->
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/assets/images/book.jpg" alt="" />
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/assets/images/book.jpg" alt="" />
                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>
                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>{#BOOK_GENRE#}</span>
                                    <a href="/details">
                                        <h6>{#BOOK_NAME#}</h6>
                                    </a>
                                    <p class="product-price">Renting Starts at &#8377;50</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Know More -->
                                        <div class="add-to-cart-btn">
                                            <a href="/details" class="btn essence-btn">Know More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Product -->
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/assets/images/book.jpg" alt="" />
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/assets/images/book.jpg" alt="" />
                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>
                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>{#BOOK_GENRE#}</span>
                                    <a href="/details">
                                        <h6>{#BOOK_NAME#}</h6>
                                    </a>
                                    <p class="product-price">Renting Starts at &#8377;50</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Know More -->
                                        <div class="add-to-cart-btn">
                                            <a href="/details" class="btn essence-btn">Know More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Product -->
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/assets/images/book.jpg" alt="" />
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/assets/images/book.jpg" alt="" />

                                    <!-- Product Badge -->
                                    <div class="product-badge offer-badge">
                                        <span>-30%</span>
                                    </div>

                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>
                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>{#BOOK_GENRE#}</span>
                                    <a href="/details">
                                        <h6>{#BOOK_NAME#}</h6>
                                    </a>
                                    <p class="product-price">Renting Starts at &#8377;50</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Know More -->
                                        <div class="add-to-cart-btn">
                                            <a href="/details" class="btn essence-btn">Know More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Product -->
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/assets/images/book.jpg" alt="" />
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/assets/images/book.jpg" alt="" />

                                    <!-- Product Badge -->
                                    <div class="product-badge new-badge">
                                        <span>New</span>
                                    </div>

                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>
                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>{#BOOK_GENRE#}</span>
                                    <a href="/details">
                                        <h6>{#BOOK_NAME#}</h6>
                                    </a>
                                    <p class="product-price">Renting Starts at &#8377;50</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Know More -->
                                        <div class="add-to-cart-btn">
                                            <a href="/details" class="btn essence-btn">Know More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="cta-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cta-content bg-img background-overlay"
                            style="background-image: url(/assets/images/payment.png)">
                            <div class="h-100 d-flex align-items-center justify-content-end">
                                <div class="cta--text">
                                    <h6>Payment made easier</h6>
                                    <h2>Pay on the Go</h2>
                                    <a href="#" class="btn essence-btn" style="pointer-events: none">UPI & Card
                                        Payments</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section id="fiction" class="new_arrivals_area section-padding-80 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Fiction Books</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="popular-products-slides owl-carousel">
                            <% fictionBooks.items.forEach(book=> { %>
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="<%= book.volumeInfo.imageLinks.thumbnail %>" alt="" />
                                        <!-- Hover Thumb -->
                                        <img class="hover-img" src="<%= book.volumeInfo.imageLinks.thumbnail %>"
                                            alt="" />
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>
                                            <%= book.volumeInfo.categories %>
                                        </span>
                                        <a href="/details/<%= book.id %>">
                                            <h6>
                                                <%= book.volumeInfo.title %>
                                            </h6>
                                        </a>
                                        <p class="product-price">Renting Starts at &#8377;50</p>

                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Know More -->
                                            <div class="add-to-cart-btn">
                                                <a href="/details/<%= book.id %>" class="btn essence-btn">Know More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="nonfiction" class="new_arrivals_area section-padding-80 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Non Fiction Books</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="popular-products-slides owl-carousel">
                            <% nonFictionBooks.items.forEach(book=> { %>
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="<%= book.volumeInfo.imageLinks.thumbnail %>" alt="" />
                                        <!-- Hover Thumb -->
                                        <img class="hover-img" src="<%= book.volumeInfo.imageLinks.thumbnail %>"
                                            alt="" />
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>
                                            <%= book.volumeInfo.categories %>
                                        </span>
                                        <a href="/details/<%= book.id %>">
                                            <h6>
                                                <%= book.volumeInfo.title %>
                                            </h6>
                                        </a>
                                        <p class="product-price">Renting Starts at &#8377;50</p>

                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Know More -->
                                            <div class="add-to-cart-btn">
                                                <a href="/details/<%= book.id %>" class="btn essence-btn">Know More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="health" class="new_arrivals_area section-padding-80 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Books For Good Health</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="popular-products-slides owl-carousel">
                            <% healthBooks.items.forEach(book=> { %>
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="<%= book.volumeInfo.imageLinks.thumbnail %>" alt="" />
                                        <!-- Hover Thumb -->
                                        <img class="hover-img" src="<%= book.volumeInfo.imageLinks.thumbnail %>"
                                            alt="" />
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>
                                            <%= book.volumeInfo.categories %>
                                        </span>
                                        <a href="/details/<%= book.id %>">
                                            <h6>
                                                <%= book.volumeInfo.title %>
                                            </h6>
                                        </a>
                                        <p class="product-price">Renting Starts at &#8377;50</p>

                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Know More -->
                                            <div class="add-to-cart-btn">
                                                <a href="/details/<%= book.id %>" class="btn essence-btn">Know More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="romance" class="new_arrivals_area section-padding-80 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Romantic Books</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="popular-products-slides owl-carousel">
                            <% romanceBooks.items.forEach(book=> { %>
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="<%= book.volumeInfo.imageLinks.thumbnail %>" alt="" />
                                        <!-- Hover Thumb -->
                                        <img class="hover-img" src="<%= book.volumeInfo.imageLinks.thumbnail %>"
                                            alt="" />
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>
                                            <%= book.volumeInfo.categories %>
                                        </span>
                                        <a href="/details/<%= book.id %>">
                                            <h6>
                                                <%= book.volumeInfo.title %>
                                            </h6>
                                        </a>
                                        <p class="product-price">Renting Starts at &#8377;50</p>

                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Know More -->
                                            <div class="add-to-cart-btn">
                                                <a href="/details/<%= book.id %>" class="btn essence-btn">Know More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="action" class="new_arrivals_area section-padding-80 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Action Books</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="popular-products-slides owl-carousel">
                            <% actionBooks.items.forEach(book=> { %>
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="<%= book.volumeInfo.imageLinks.thumbnail %>" alt="" />
                                        <!-- Hover Thumb -->
                                        <img class="hover-img" src="<%= book.volumeInfo.imageLinks.thumbnail %>"
                                            alt="" />
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>
                                            <%= book.volumeInfo.categories %>
                                        </span>
                                        <a href="/details/<%= book.id %>">
                                            <h6>
                                                <%= book.volumeInfo.title %>
                                            </h6>
                                        </a>
                                        <p class="product-price">Renting Starts at &#8377;50</p>

                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Know More -->
                                            <div class="add-to-cart-btn">
                                                <a href="/details/<%= book.id %>" class="btn essence-btn">Know More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="science" class="new_arrivals_area section-padding-80 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Science Fiction Books</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="popular-products-slides owl-carousel">
                            <% scienceBooks.items.forEach(book=> { %>
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="<%= book.volumeInfo.imageLinks.thumbnail %>" alt="" />
                                        <!-- Hover Thumb -->
                                        <img class="hover-img" src="<%= book.volumeInfo.imageLinks.thumbnail %>"
                                            alt="" />
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>
                                            <%= book.volumeInfo.categories %>
                                        </span>
                                        <a href="/details/<%= book.id %>">
                                            <h6>
                                                <%= book.volumeInfo.title %>
                                            </h6>
                                        </a>
                                        <p class="product-price">Renting Starts at &#8377;50</p>

                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Know More -->
                                            <div class="add-to-cart-btn">
                                                <a href="/details/<%= book.id %>" class="btn essence-btn">Know More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="mystery" class="new_arrivals_area section-padding-80 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Mystery Books</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="popular-products-slides owl-carousel">
                            <% mysteryBooks.items.forEach(book=> { %>
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="<%= book.volumeInfo.imageLinks.thumbnail %>" alt="" />
                                        <!-- Hover Thumb -->
                                        <img class="hover-img" src="<%= book.volumeInfo.imageLinks.thumbnail %>"
                                            alt="" />
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>
                                            <%= book.volumeInfo.categories %>
                                        </span>
                                        <a href="/details/<%= book.id %>">
                                            <h6>
                                                <%= book.volumeInfo.title %>
                                            </h6>
                                        </a>
                                        <p class="product-price">Renting Starts at &#8377;50</p>

                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Know More -->
                                            <div class="add-to-cart-btn">
                                                <a href="/details/<%= book.id %>" class="btn essence-btn">Know More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="thriller" class="new_arrivals_area section-padding-80 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Thriller Books</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="popular-products-slides owl-carousel">
                            <% thrillerBooks.items.forEach(book=> { %>
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="<%= book.volumeInfo.imageLinks.thumbnail %>" alt="" />
                                        <!-- Hover Thumb -->
                                        <img class="hover-img" src="<%= book.volumeInfo.imageLinks.thumbnail %>"
                                            alt="" />
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>
                                            <%= book.volumeInfo.categories %>
                                        </span>
                                        <a href="/details/<%= book.id %>">
                                            <h6>
                                                <%= book.volumeInfo.title %>
                                            </h6>
                                        </a>
                                        <p class="product-price">Renting Starts at &#8377;50</p>

                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Know More -->
                                            <div class="add-to-cart-btn">
                                                <a href="/details/<%= book.id %>" class="btn essence-btn">Know More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="fantasy" class="new_arrivals_area section-padding-80 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Fantasy Books</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="popular-products-slides owl-carousel">
                            <% fantasyBooks.items.forEach(book=> { %>
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="<%= book.volumeInfo.imageLinks.thumbnail %>" alt="" />
                                        <!-- Hover Thumb -->
                                        <img class="hover-img" src="<%= book.volumeInfo.imageLinks.thumbnail %>"
                                            alt="" />
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>
                                            <%= book.volumeInfo.categories %>
                                        </span>
                                        <a href="/details/<%= book.id %>">
                                            <h6>
                                                <%= book.volumeInfo.title %>
                                            </h6>
                                        </a>
                                        <p class="product-price">Renting Starts at &#8377;50</p>

                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Know More -->
                                            <div class="add-to-cart-btn">
                                                <a href="/details/<%= book.id %>" class="btn essence-btn">Know More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="history" class="new_arrivals_area section-padding-80 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Historical Fiction</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="popular-products-slides owl-carousel">
                            <% historyBooks.items.forEach(book=> { %>
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="<%= book.volumeInfo.imageLinks.thumbnail %>" alt="" />
                                        <!-- Hover Thumb -->
                                        <img class="hover-img" src="<%= book.volumeInfo.imageLinks.thumbnail %>"
                                            alt="" />
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>
                                            <%= book.volumeInfo.categories %>
                                        </span>
                                        <a href="/details/<%= book.id %>">
                                            <h6>
                                                <%= book.volumeInfo.title %>
                                            </h6>
                                        </a>
                                        <p class="product-price">Renting Starts at &#8377;50</p>

                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Know More -->
                                            <div class="add-to-cart-btn">
                                                <a href="/details/<%= book.id %>" class="btn essence-btn">Know More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('./includes/footer.ejs') %>
</body>

</html>