<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./includes/head.ejs', {includeJS: true}) %>

        <title>.lib</title>

        <link rel="stylesheet" href="/css/core-style.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body>
        <%- include('./includes/navigation-bar.ejs', { cart, signedIn }) %>

        <!-- ##### Welcome Area Start ##### -->
        <section
            class="welcome_area bg-img background-overlay"
            style="background-image: url(/assets/images/home-background.png)"
        >
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-content">
                            <h6>Redefining The Way You Read</h6>
                            <h2>.library</h2>
                            <a href="#recommended-books" class="btn essence-btn">Explore our racks</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Welcome Area End ##### -->

        <!-- ##### Top Catagory Area Start ##### -->
        <div class="top_catagory_area section-padding-80 clearfix">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- Single Catagory -->
                    <div class="col-12 col-sm-6 col-md-4">
                        <div
                            class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                            style="background-image: url(/assets/images/book.jpg)"
                        >
                            <div class="catagory-content">
                                <a href="#">Romance</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Catagory -->
                    <div class="col-12 col-sm-6 col-md-4">
                        <div
                            class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                            style="background-image: url(/assets/images/book.jpg)"
                        >
                            <div class="catagory-content">
                                <a href="#">Action</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Catagory -->
                    <div class="col-12 col-sm-6 col-md-4">
                        <div
                            class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                            style="background-image: url(/assets/images/book.jpg)"
                        >
                            <div class="catagory-content">
                                <a href="#">Mystery</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Top Catagory Area End ##### -->

        <!-- ##### CTA Area Start ##### -->
        <div class="cta-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div
                            class="cta-content bg-img background-overlay"
                            style="background-image: url(/assets/images/payment.png)"
                        >
                            <div class="h-100 d-flex align-items-center justify-content-end">
                                <div class="cta--text">
                                    <h6>Payment made easier</h6>
                                    <h2>Pay on the Go</h2>
                                    <a href="#" class="btn essence-btn">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### CTA Area End ##### -->

        <!-- ##### New Arrivals Area Start ##### -->
        <section id="recommended-books" class="new_arrivals_area section-padding-80 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Recommended Books</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="popular-products-slides owl-carousel">
                            <!-- Single Product -->
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/assets/images/book.jpg" alt="" />
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/assets/images/book.jpg" alt="" />
                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>
                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>{#BOOK_GENRE#}</span>
                                    <a href="/details">
                                        <h6>{#BOOK_NAME#}</h6>
                                    </a>
                                    <p class="product-price">$20</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Know More -->
                                        <div class="add-to-cart-btn">
                                            <a href="/details" class="btn essence-btn">Know More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Product -->
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/assets/images/book.jpg" alt="" />
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/assets/images/book.jpg" alt="" />
                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>
                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>{#BOOK_GENRE#}</span>
                                    <a href="/details">
                                        <h6>{#BOOK_NAME#}</h6>
                                    </a>
                                    <p class="product-price">$20</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Know More -->
                                        <div class="add-to-cart-btn">
                                            <a href="/details" class="btn essence-btn">Know More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Product -->
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/assets/images/book.jpg" alt="" />
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/assets/images/book.jpg" alt="" />

                                    <!-- Product Badge -->
                                    <div class="product-badge offer-badge">
                                        <span>-30%</span>
                                    </div>

                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>
                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>{#BOOK_GENRE#}</span>
                                    <a href="/details">
                                        <h6>{#BOOK_NAME#}</h6>
                                    </a>
                                    <p class="product-price"><span class="old-price">$25</span> $20</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Know More -->
                                        <div class="add-to-cart-btn">
                                            <a href="/details" class="btn essence-btn">Know More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Product -->
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/assets/images/book.jpg" alt="" />
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/assets/images/book.jpg" alt="" />

                                    <!-- Product Badge -->
                                    <div class="product-badge new-badge">
                                        <span>New</span>
                                    </div>

                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>
                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>{#BOOK_GENRE#}</span>
                                    <a href="/details">
                                        <h6>{#BOOK_NAME#}</h6>
                                    </a>
                                    <p class="product-price">$20</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Know More -->
                                        <div class="add-to-cart-btn">
                                            <a href="/details" class="btn essence-btn">Know More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="popular-books" class="new_arrivals_area section-padding-80 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Fiction Book</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="popular-products-slides owl-carousel">
                            <% for(var i=0;i<fiction.length;i++){%>
                            <!-- Single Product -->
                            <div class="single-product-wrapper">                                
                                <div class="product-img">
                                    <img src="<%=fiction[i].img%>" alt="" />                                    
                                    <img class="hover-img" src="<%=fiction[i].img%>" alt="" />                                    
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>                                
                                <div class="product-description">
                                    <span><%=fiction[i].genre%></span>
                                    <a href="/details">
                                        <h6><%=fiction[i].title%></h6>
                                    </a>
                                    <p class="product-price">₹50</p>                                    
                                    <div class="hover-content">                                        
                                        <div class="add-to-cart-btn">
                                            <a href="/details" class="btn essence-btn">Know More</a>
                                        </div>
                                    </div>
                                </div>                               
                            </div> 
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="popular-books" class="new_arrivals_area section-padding-80 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Non Fiction Book</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="popular-products-slides owl-carousel">
                            <% for(var i=0;i<nonfiction.length;i++){%>
                            <!-- Single Product -->
                            <div class="single-product-wrapper">                                
                                <div class="product-img">
                                    <img src="<%=nonfiction[i].img%>" alt="" />                                    
                                    <img class="hover-img" src="<%=nonfiction[i].img%>" alt="" />                                    
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>                                
                                <div class="product-description">
                                    <span><%=nonfiction[i].genre%></span>
                                    <a href="/details">
                                        <h6><%=nonfiction[i].title%></h6>
                                    </a>
                                    <p class="product-price">₹50</p>                                    
                                    <div class="hover-content">                                        
                                        <div class="add-to-cart-btn">
                                            <a href="/details" class="btn essence-btn">Know More</a>
                                        </div>
                                    </div>
                                </div>                               
                            </div> 
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="popular-books" class="new_arrivals_area section-padding-80 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Highest Rated Fiction Book</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="popular-products-slides owl-carousel">
                            <% for(var i=0;i<bestFiction.length;i++){%>
                            <!-- Single Product -->
                            <div class="single-product-wrapper">                                
                                <div class="product-img">
                                    <img src="<%=bestFiction[i].img%>" alt="" />                                    
                                    <img class="hover-img" src="<%=bestFiction[i].img%>" alt="" />                                    
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>                                
                                <div class="product-description">
                                    <span><%=bestFiction[i].genre%></span>
                                    <a href="/details">
                                        <h6><%=bestFiction[i].title%></h6>
                                    </a>
                                    <p class="product-price">₹50</p>                                    
                                    <div class="hover-content">                                        
                                        <div class="add-to-cart-btn">
                                            <a href="/details" class="btn essence-btn">Know More</a>
                                        </div>
                                    </div>
                                </div>                               
                            </div> 
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="popular-books" class="new_arrivals_area section-padding-80 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Highest Rated Non Fiction Book</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="popular-products-slides owl-carousel">
                            <% for(var i=0;i<bestNonFiction.length;i++){%>
                            <!-- Single Product -->
                            <div class="single-product-wrapper">                                
                                <div class="product-img">
                                    <img src="<%=bestNonFiction[i].img%>" alt="" />                                    
                                    <img class="hover-img" src="<%=bestNonFiction[i].img%>" alt="" />                                    
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>                                
                                <div class="product-description">
                                    <span><%=bestNonFiction[i].genre%></span>
                                    <a href="/details">
                                        <h6><%=bestNonFiction[i].title%></h6>
                                    </a>
                                    <p class="product-price">₹50</p>                                    
                                    <div class="hover-content">                                        
                                        <div class="add-to-cart-btn">
                                            <a href="/details" class="btn essence-btn">Know More</a>
                                        </div>
                                    </div>
                                </div>                               
                            </div> 
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('./includes/footer.ejs') %>
    </body>
</html>
