<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./includes/head.ejs', { includeJS: true, signedIn }) %>

        <title>.lib - {#USER_NAME#}</title>

        <link rel="stylesheet" href="/css/core-style.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body>
        <%- include('./includes/navigation-bar.ejs') %>

        <!-- ##### Breadcumb Area Start ##### -->
        <div class="breadcumb_area bg-img" style="background-image: url(/assets/images/banner.jpg)">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="page-title text-center">
                            <h2>Profile</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Breadcumb Area End ##### -->

        <!-- ##### Checkout Area Start ##### -->
        <div class="checkout_area section-padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="checkout_details_area mt-50 clearfix">
                            <div class="cart-page-heading mb-30">
                                <h5>Enter Your Details</h5>
                            </div>

                            <form action="/update-profile" method="POST">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="first_name">First Name <span>*</span></label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="first_name"
                                            name="firstName"
                                            value="<%= details?.firstName ? details.firstName : '' %>"
                                            required
                                        />
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="last_name">Last Name <span>*</span></label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="last_name"
                                            name="lastName"
                                            value="<%= details?.lastName ? details.lastName : '' %>"
                                            required
                                        />
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="company">Contact Number<span>*</span></label>
                                        <input
                                            type="number"
                                            class="form-control"
                                            id="company"
                                            name="contactNumber"
                                            value="<%= details?.contactNumber ? details.contactNumber : '' %>"
                                        />
                                    </div>
                                    <div class="col-12 mb-4">
                                        <label for="email_address">Email Address <span>*</span></label>
                                        <input
                                            type="email"
                                            class="form-control"
                                            id="email_address"
                                            name="email"
                                            value="<%= details?.email ? details.email : '' %>"
                                        />
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="country">Country<span>*</span></label>
                                        <select class="w-100" id="country" name="country">
                                            <option
                                                <%= details?.country === 'India' ? 'selected' : '' %>"
                                                value="India"
                                            >
                                                India
                                            </option>
                                            <option
                                                <%= details?.country === 'United States' ? 'selected' : '' %>"
                                                value="United States"
                                            >
                                                United States
                                            </option>
                                            <option
                                                <%= details?.country === 'United Kingdom' ? 'selected' : '' %>"
                                                value="United Kingdom"
                                            >
                                                United Kingdom
                                            </option>
                                            <option
                                                <%= details?.country === 'Germany' ? 'selected' : '' %>"
                                                value="Germany"
                                            >
                                                Germany
                                            </option>
                                            <option
                                                <%= details?.country === 'France' ? 'selected' : '' %>"
                                                value="France"
                                            >
                                                France
                                            </option>
                                            <option
                                                <%= details?.country === 'Australia' ? 'selected' : '' %>"
                                                value="Australia"
                                            >
                                                Australia
                                            </option>
                                            <option
                                                <%= details?.country === 'Brazil' ? 'selected' : '' %>"
                                                value="Brazil"
                                            >
                                                Brazil
                                            </option>
                                            <option
                                                <%= details?.country === 'Canada' ? 'selected' : '' %>"
                                                value="Canada"
                                            >
                                                Canada
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="postcode">Postcode <span>*</span></label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="postcode"
                                            name="postcode"
                                            value="<%= details?.postcode ? details?.postcode : '' %>"
                                        />
                                    </div>
                                </div>
                                <button type="submit" name="update-profile" value="5" class="btn essence-btn">
                                    Update Profile
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                        <div class="order-details-confirmation" style="height: 100">
                            <div class="cart-page-heading">
                                <h5>Preferences</h5>
                                <p>Help Us Serve You Better</p>
                            </div>

                            <form action="/update-preferences" method="POST">
                                <div class="col-md-6">
                                    <label for="genre" class="preference-title">Genre<span>*</span></label>
                                    <select name="genre" id="genre" class="mr-5" required>
                                        <option hidden>Choose Genre</option>
                                        <option value="0">Non Fiction</option>
                                        <option value="1">Fiction</option>
                                    </select>
                                </div>
                                <br />
                                <br />
                                <div class="col-md-6">
                                    <label for="book-type" class="preference-title"
                                        >Book Type<span>*</span></label
                                    >
                                    <select name="bookType" id="book-type" class="mr-5" required>
                                        <option hidden>Choose Book Type</option>
                                        <option value="0">Audio book</option>
                                        <option value="1">Hardcover</option>
                                        <option value="2">Paperback</option>
                                        <option value="3">eBook</option>
                                    </select>
                                </div>
                                <br />
                                <br />
                                <div class="col-md-6">
                                    <label for="pages" class="preference-title"
                                        >Reading Habbits<span>*</span></label
                                    >
                                    <select name="numberOfPages" id="pages" class="mr-5" required>
                                        <option hidden>Number of pages you read</option>
                                        <option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="300">300</option>
                                        <option value="400">400</option>
                                        <option value="500">500</option>
                                    </select>
                                </div>

                                <button
                                    type="submit"
                                    style="margin-top: 1rem"
                                    name="update-preferences"
                                    value="5"
                                    class="btn essence-btn"
                                >
                                    Update Preferences
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                        <div class="order-details-confirmation">
                            <div class="cart-page-heading">
                                <h5>Order History</h5>
                                <p>List of Recent Purchases</p>
                            </div>

                            <ul class="order-details-form mb-4">
                                <li><span>Product</span> <span>Total</span></li>
                                <li><span>Atomic Habits</span> <span>₹50.00</span></li>
                                <li><span>Outliers</span> <span>₹50.00</span></li>
                                <li><span>Jungle Book</span> <span>₹100.00</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Checkout Area End ##### -->

        <%- include('./includes/footer.ejs') %>
    </body>
</html>
